@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: digital-7;
    src: url('digital-7.ttf');
}

:root {
    --light-color: rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #2c3a47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 50px;
}

h2 {
    color: #cad3c8;
    font-size: 50px;
    font-weight: 500;
}

.frame {
    width: 600px;
    height: 300px;
    background-color: #2c3a47;
    border: 50px solid #58b19f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    font-size: 60px;
    text-align: center;
    line-height: 180px;
}


.clock {
    font-family: digital-7;
    color: rgb(226, 24, 24);
    text-shadow: 0 0 10px;
    position: relative;
}

/* .clock::after {
    content: attr(data-text);
    position: absolute;
    left: 94px;
    top: 0;
    filter: blur(15px);
} */

.clock ::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(40px);
}

@media (max-width :425px) {

    h2 {
        font-size: 20px;
        font-weight: 60px;
    }

    .frame {
        width: 300px;
        height: 170px;
        border: 25px solid #58b19f;
        padding: 5px;
        font-size: 40px;
        line-height: 110px;
    }


}